<app-header title="Card Page"></app-header>

<ion-content padding>

  <ion-card mode="ios" color="primary">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-item color="primary">
      <ion-icon color="light" slot="start" name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta magnam non
      ab optio nisi reiciendis minima harum! Reiciendis eligendi, quaerat enim
      culpa at quae laboriosam nostrum asperiores rem nisi vitae.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea ipsam neque
      tempore earum tempora similique quod facilis incidunt, error, enim ad
      ipsum sapiente magni nulla! Dicta doloribus rem eaque architecto.
    </ion-card-content>
  </ion-card>

</ion-content>
